<nav class="navbar navbar-default" bs-navbar ng-controller="MenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/home">Code Project</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li data-match-route="/home"><a ng-href="#/home">Home</a></li>
                <li data-match-route="/clients"><a ng-href="#/clients">Clientes</a></li>
                <li data-match-route="/projects"><a ng-href="#/projects">Projetos</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                    <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" dropdown-toggle>
                        {{ user.name }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>