
<div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
    <label class="col-md-4 control-label">Nome</label>
    <div class="col-md-6">
        <input type="text" class="form-control" name="name" ng-model="project.name" required>
        <div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
            <div ng-message="required">Campo obrigatório</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !form.description.$valid && form.description.$touched}">
    <label class="col-md-4 control-label">Descrição</label>
    <div class="col-md-6">
        <textarea class="form-control" name="description" ng-model="project.description" required></textarea>
        <div ng-messages="form.description.$error" class="help-block" ng-show="form.description.$touched">
            <div ng-message="required">Campo obrigatório</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !form.client_id.$valid && form.client_id.$touched}">
    <label class="col-md-4 control-label">Cliente</label>
    <div class="col-md-6">
        <input class="form-control" type="text" name="client_id" ng-model="clientSelected"
               typeahead="o as o.name for o in getClients($viewValue) | limitTo: 10"
               typeahead-input-formatter="formatName($model)"
               typeahead-on-select="selectClient($item)"
               typeahead-editable="false" required>
        <div ng-messages="form.client_id.$error" class="help-block" ng-show="form.client_id.$touched">
            <div ng-message="required">Campo obrigatório</div>
            <div ng-message="editable">Cliente inválido</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !form.due_date.$valid && form.due_date.$touched}">
    <label class="col-md-4 control-label">Data de Vencimento</label>
    <div class="col-md-6">
        <p class="input-group">
            <input type="text" name="due_date" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="project.due_date"
                   is-open="due_date.status.opened"  close-text="Fechar" required/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
        </p>
        <div ng-messages="form.due_date.$error" class="help-block" ng-show="form.due_date.$touched">
            <div ng-message="required">Campo obrigatório</div>
            <div ng-message="date">Data inválida</div>
        </div>
    </div>
</div>
<div class="form-group" ng-class="{'has-error': !form.progress.$valid && form.progress.$touched}">
    <label class="col-md-4 control-label">Progresso (%)</label>
    <div class="col-md-6">
        <input type="text" class="form-control" name="progress" ng-model="project.progress" min="0" max="100" required>
        <div ng-messages="form.progress.$error" class="help-block" ng-show="form.progress.$touched">
            <div ng-message="required">Campo obrigatório</div>
            <div ng-message="min">Valor mínimo aceitável é 0</div>
            <div ng-message="max">Valor máximo aceitável é 100</div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !form.status.$valid && form.status.$touched}">
    <label class="col-md-4 control-label">Status</label>
    <div class="col-md-6">
        <select class="form-control" name="status" ng-model="project.status"
                ng-options="o.value as o.label for o in status" required>
            <option value=""><-- Selecione o status --></option>
        </select>
        <div ng-messages="form.status.$error" class="help-block" ng-show="form.status.$touched">
            <div ng-message="required">Campo obrigatório</div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</div>
