<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de arquivos de Projeto</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in projectFiles">
                                <td>{{o.name}}</td>
                                <td>{{o.description | limitTo: 70}}...</td>
                                <td>
                                    <project-file-download id-project="{{o.project_id}}" id-file="{{o.id}}"></project-file-download>
                                </td>
                                <td>
                                    <a ng-href="#/project/{{o.project_id}}/file/{{o.id}}/edit">Editar</a>
                                    <a ng-href="#/project/{{o.project_id}}/file/{{o.id}}/remove">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
